#title {
  background: #ff7043;
}

.title-img {
  transform: rotateZ(15deg);
  right: 10%;
  width: 80%;
}

.title-header {
  font-weight: bolder;
  color: white;
  font-size: 2.7em;
}

@media (max-width: 767px) {
  .title-img {
    transform: rotateZ(0deg);
    right: 0%;
    width: 65%;
  }
}

@media (min-width: 1200px) {
  .title-header {
    font-weight: bolder;
    color: white;
    font-size: 4.5em;
  }
}

.navbar_t {
  margin: 0 auto;
  margin-bottom: 3rem;
}

.features-title {
  font-size: xx-large;
  font-weight: bolder;
}

.features-icon {
  color: #ff7043;
}

.titleDiv {
  margin: 0 auto;
  width: 80%;
}

#testimonials {
  position: relative;
  z-index: 1;
  text-align: center;
  background: #ff7043;
}

.testimonials-title {
  color: white;
  font-size: 2em;
  font-weight: bolder;
}

.testimonials-img {
  width: 15%;
  border-radius: 100%;
}

.testimonials-em {
  padding-left: 10px;
  font-size: larger;
  color: white;
}

#press {
  text-align: center;
  background: #ff7043;
}

.press-img {
  width: 15%;
}

#cta {
  background: #ff7043;
}

#footer {
}
